In [1]:
import pandas as pd
import numpy as np

In [2]:
%%timeit 
df = pd.read_csv('Data/LLCP2021.csv')

8.16 s ± 787 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [3]:
df = pd.read_csv('Data/LLCP2021.csv')

In [4]:
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,1192021,1,19,2021,1100.0,2021000001,2.021000e+09,1.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,0.0,0.0
1,1.0,1.0,1212021,1,21,2021,1100.0,2021000002,2.021000e+09,1.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,0.0,0.0
2,1.0,1.0,1212021,1,21,2021,1100.0,2021000003,2.021000e+09,1.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,0.0,0.0
3,1.0,1.0,1172021,1,17,2021,1100.0,2021000004,2.021000e+09,1.0,...,1.0,1.0,114.0,165.0,1.0,1.0,1.0,1.0,0.0,0.0
4,1.0,1.0,1152021,1,15,2021,1100.0,2021000005,2.021000e+09,1.0,...,1.0,1.0,100.0,258.0,1.0,1.0,1.0,1.0,0.0,0.0

In [5]:
df = df.set_index("SEQNO")

In [6]:
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,_PSU,CTELENM1,PVTRESD1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
SEQNO,,,,,,,,,,,,,,,,,,,,,
2021000001,1.0,1.0,1192021,1,19,2021,1100.0,2.021000e+09,1.0,1.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,0.0,0.0
2021000002,1.0,1.0,1212021,1,21,2021,1100.0,2.021000e+09,1.0,1.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,0.0,0.0
2021000003,1.0,1.0,1212021,1,21,2021,1100.0,2.021000e+09,1.0,1.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,0.0,0.0
2021000004,1.0,1.0,1172021,1,17,2021,1100.0,2.021000e+09,1.0,1.0,...,1.0,1.0,114.0,165.0,1.0,1.0,1.0,1.0,0.0,0.0
2021000005,1.0,1.0,1152021,1,15,2021,1100.0,2.021000e+09,1.0,1.0,...,1.0,1.0,100.0,258.0,1.0,1.0,1.0,1.0,0.0,0.0

In [7]:
df.to_csv("Data/LLCP2021.csv", index = False)